@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #050505;
  color: #d5d5d5;
}
.transall {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.5s;
}
.transall:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.5s;
}
.neon-hover {
  text-shadow: 0px 0px 7.9px rgba(213, 213, 213, 0);
}
.neon-hover:hover {
  text-shadow: 0px 0px 7.9px rgba(213, 213, 213, 0.9);
}
